@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("CarouselView")
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Služby pro prodávající</h3>
        <p>
            Každý jsme jiný a proto i každý potřebujeme jiný rozsah služeb.
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("ServicesSellers", "Home")';return false;">Chci vědět více &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Služby pro kupující</h3>
        <p>
            Každý jsme jiný a proto i každý potřebujeme jiný rozsah služeb.
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("ServicesBuyers", "Home")';return false;">Chci vědět více &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Nabízíme/hledáme</h3>
        <p>
            Každý jsme jiný a proto i každý potřebujeme jiný rozsah služeb.
        </p>
        <p><a class="btn btn-default" onclick="location.href='@Url.Action("Offers", "Home")';return false;">Chci vědět více &raquo;</a></p>
    </div>
</div>