
@{
    ViewBag.Title = "Služby pro prodávající";
}

<h2>Služby pro prodávající</h2>

<blockquote>
    <p>
        Každý jsme jiný a proto i každý potřebujeme jiný rozsah služeb. 
        Někomu postačí pouze „nakopnutí“ a získání informací a jiný upřednostní komplexní převzetí všech úkonů spojených s 
        prodejem nebo pronájmem nemovitosti. Nebudu po vás chtít 5% z ceny nemovitosti, proč taky? Platíte právníkovi dle objemu obchodu? 
        Nebo inzerci? Nebo nějaké jiné vedlejší náklady? Ne, ne a ne. A proto už dopředu víte, kolik zaplatíte. Fixní částka za předem jasně dané úkony. 
        Nic víc. Je pravda, že u některých realitek platí provizi kupující. Ale můžu vás ubezpečit, že kupujícímu je jedno, jaká část z celkové ceny tvoří díl pro realitku a 
        díl pro prodávajícího. Kupující si to prostě sečte, takže pokud se vám podaří snížit díl pro realitku, věřte tomu, že můžete zvýšit díl pro prodávajícího :).

        Za prodej nemovitosti u nás zaplatíte maximálně 50 000 a to za komplexní služby včetně sestavení daňového přiznání pro daň z nabytí nemovitosti. 
        Pokud vám bude stačit jenom základní paket služeb, bude vás stát jenom 5000. Pro podrobnější informace a ceny mě neváhejte kdykoliv informovat,
    </p>
    <footer>
        <h4>
            Přesvědčte se sami :)
        </h4>
    </footer>
</blockquote>