@{
    ViewBag.Title = "Služby pro kupující";
}
<br/>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Služby pro kupující</span>
        </h5>
    </div>
    <div class="panel-body">
        Současná praxe je taková, že realitní kancelář zastupuje v drtivé většině případů pouze prodávajícího. Vzhledem k tomu, že jejich motivy jsou úplně jiné, je tohle řešení naprosto nevhodné. Myslíte, že prodávající (nebo jeho realitka) vám bude sdělovat negativa nemovitosti nebo okolí? Pochybuji. Proto velmi doporučuji mít při koupi nemovitosti někoho, kdo bude hájit i vaše zájmy.

        Velmi ráda vám budu nápomocna i při vyjednávání financování nemovitosti. Nemám smlouvu s žádnou bankou ani jinou finanční institucí. Víte, že většina nezávislých finančních poradců je motivována provizí u konkrétních bank? Podmínky bank jsou odvislé od různých situaci potenciálních dlužníků, jedna banka klade důraz na výši příjmů, jiná má zase na výpis z registrů, jinde je rozhodující výše zástavy, případně ručitelé…. Spoustu faktorů hraje roli ve vyjednání úrokové sazby. Proto na konkrétní případ je vhodné hledat řešení na míru.

        V případě, že hledáte nemovitost dle určitých požadavků, nabízím zpracování analýzy současné nabídky na trhu, posouzení výhod a nevýhod jednotlivých nemovitostí. Pokud už máte konkrétní nemovitost vyhlídnutou, ráda vás doprovodím na prohlídky. Bližší informace vám ráda podám osobně případně emailem.
    </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("Motto")
    </div>
</div>