<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Analýza konkrétní poptávky</span>
        </h5>
    </div>
    <div class="panel-body">
        Zpracování požadavku na vyhledání konkrétní nemovitosti v konkrétní lokalitě v dané cenové hladině, porovnání nemovitostí, jejich výhody a nevýhody, vývoj okolí dle územního plánu, vybavenost v okolí, další dostupné informace. Možno zrealizovat i dálkovou formou emailem.
        </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "2.000")
    </div>
</div>

<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Zastupování kupujícího</span>
        </h5>
    </div>
    <div class="panel-body">
        Zastupování kupujícího při prohlídce konkrétní nemovitosti, posouzení ceny, vyhodnocení případných alternativ, určení zjevných výhod a nevýhod nemovitosti (v případě, že se obchod uskuteční a podaří se vyjednat provizi pro realitní kancelář kupujícího, potom je služba pro kupujícího zdarma)
        </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "2.000")
    </div>
</div>

<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Financování nemovitosti</span>
        </h5>
    </div>
    <div class="panel-body">
        Určení výchozích předpokladů a možností pro financování, vyhledávání banky pro poskytnutí úvěru, vyjednávání o úrokové sazbě, srovnání úrokových sazeb a poradenství pro řešení podkladů pro hypotéku (v případě, že se obchod uskuteční a podaří se vyjednat provizi u banky, potom je služba zdarma. Největší důraz ale kladu na úsporu pro kupujícího.)
        </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "1.500")
    </div>
</div>

<hr />

