<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Základní paket služeb pro pronájem</span>
        </h5>
    </div>
    <div class="panel-body">
        Ocenění výše tržního nájmu, kvalitní nafocení, sestavení inzerátu, poradenství v oblasti realitních serverů
    </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "2.000")
    </div>
</div>

<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Komfortní paket služeb pro pronájem</span>
        </h5>
    </div>
    <div class="panel-body">
        Ocenění výše tržního nájmu, kvalitní nafocení, sestavení inzerátu, schůzky s potenciálními klienty, sepsání standardní nájemní smlouvy
    </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "8.000")
    </div>
</div>

<hr />

