<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Základní paket služeb</span>
        </h5>
    </div>
    <div class="panel-body">
        Ocenění nemovitosti, kvalitní nafocení, sestavení inzerátu, seznámení s průběhem prodeje, poradenství v oblasti realitních serverů, telefonická pomoc v průběhu celého prodeje
    </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "5.000")
    </div>
</div>

<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Střední paket služeb</span>
        </h5>
    </div>
    <div class="panel-body">
        Ocenění nemovitosti, kvalitní nafocení, sestavení inzerátu, seznámení s průběhem prodeje, inzertní činnost, sjednávání schůzek s klienty, účast na prohlídce nemovitostí, telefonická pomoc v průběhu celého prodeje
    </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "25.000")
    </div>
</div>

<hr />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5>
            <span class="label label-primary">Komfortní paket služeb</span>
        </h5>
    </div>
    <div class="panel-body">
        Ocenění nemovitosti, kvalitní nafocení, sestavení inzerátu, seznámení s průběhem prodeje, inzertní činnost, sjednávání schůzek s klienty, účast na prohlídce nemovitostí, telefonická pomoc v průběhu celého prodeje, sepsání kupní smlouvy u právníka, bankovní úschova kupní ceny (jistotní účet), úkony na katastrálním úřadu (včetně kolků), sestavení daňového přiznání k dani z nabytí nemovitých věcí, daňové poradenství v oblasti nemovitostí, přepis energií na kupujícího
    </div>
    <div class="panel-footer rightItemPricePossitionLebsoft">
        @Html.Partial("ItemPrice", "50.000")
    </div>
</div>

<hr />